/* Reset */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities */

/* Colors 

--black-squeeze: #f3fafa;
--mako: #3c4149;
--picton-blue: #4cb2df;
--wisteria: #bd6bbf;
--earls-green: #cbb837;
--granny-smith: #90a0a5;
--lily: #c0acbf;
--loblolly: #c0cccf;
--primrose: #edde9d;



*/


/* General */


/* Header */
.header_site{
    margin-left: 30px;
}

.logo{
    height: 80px;
}

.box_logo{
    display: inline-block;
    vertical-align: middle;
}

.header_title{
    display: inline-block;
    font-size: 1.5rem;
    vertical-align: middle;
}

/* Main */

.main_site{
    width: 1000px;
    margin: 0 auto;
}


#button_task{
    font-size: 1rem;
    background-color: #4cb2df;
    color: white;
    border-radius: 5px;
    border: solid thin #4cb2df ;
    padding: 0.65rem 1rem;
}

#button_section{
    font-size: 1rem;
    background-color: white;
    color:#c0cccf;
    border-radius: 5px;
    border: solid thin #c0cccf ;
    padding: 0.65rem 1rem;
}
