/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Utilities */

:root{
    --add_task-color:#4EA0FF;
    --ed-color: #a71eb1;
    --add_section-color:#5ec56e;
    --q1-color: #d32e2e;
    --rec-color: #2f5bdf;
    --mobile-color: #ebb570;
    --web-color: #52d1ee;
    --sales-color: #7cbf9c;
    --h2-color: #d36322;
}
    
/* Colors

Editorial:#4cb2df;
Add Button:  #c0cccf;
Goals: #bd6bbf;
Recruiting: #64c0a9;
Mobile:  #f29e33;
Website:  #d863a1;
Sales: #b0c926;

*/


/* General */

section{
    margin: 1rem;
    display: inline-block;
 
}

h2{
    color: var(--h2-color);
}

/* Header */
.header_site{
    margin-left: 30px;
}

.logo{
    height: 80px;
}

.box_logo{
    display: inline-block;
    vertical-align: middle;
}

.header_title{
    display: inline-block;
    font-size: 1.5rem;
    vertical-align: middle;
}

/* Main */

.main_site{
    width: 1000px;
    margin: 20px auto;

}

#button_task{
    font-size: 0.7rem;
    background-color: var(--add_task-color);
    color: white;
    border-radius: 5px;
    border: solid thin var(--add_task-color);
    padding: 0.3rem 0.5rem;
}

#button_section{
    font-size: 0.7rem;
    background-color: white;
    color:var(--add_section-color);
    border-radius: 5px;
    border: solid thin var(--add_section-color) ;
    padding: 0.3rem 0.5rem;
}

.triangle{
    font-size: 1rem;
}

.task{
    margin-top: 1rem;
}

.done_box{
    margin-right: 0.3rem;
    font-size: 0.50rem;
    color: rgb(23, 231, 23);
    border: solid thin;
    border-radius: 50% 50%;
    display: inline-block;
    padding: 0.2rem
}

.undone_box{
    margin-right: 0.3rem;
    font-size: 0.50rem;
    color: red;
    border: solid thin;
    border-radius: 50% 50%;
    display: inline-block;
    padding: 0.2rem
}

.button_editorial{
    font-size: 0.6rem;
    font-weight: 600;
    background-color: var(--ed-color);
    color: white;
    border-radius: 10px;
    border: solid thin var(--ed-color);
    padding: 0.2rem 0.5rem;
}

.button_goals{
    font-size: 0.6rem;
    font-weight: 600;
    background-color:var(--q1-color);
    color: white;
    border-radius: 10px;
    border: solid thin var(--q1-color);
    padding: 0.2rem 0.5rem;
}

.button_recruiting{
    font-size: 0.6rem;
    font-weight: 600;
    background-color: var(--rec-color);
    color: white;
    border-radius: 10px;
    border: solid thin var(--rec-color);
    padding: 0.2rem 0.5rem;
}

.button_mobile{
    font-size: 0.6rem;
    font-weight: 600;
    background-color: var(--mobile-color);
    color: white;
    border-radius: 10px;
    border: solid thin var(--mobile-color);
    padding: 0.2rem 0.5rem;
}

.button_website{
    font-size: 0.6rem;
    font-weight: 600;
    background-color: var(--web-color);
    color: white;
    border-radius: 10px;
    border: solid thin var(--web-color);
    padding: 0.2rem 0.5rem;
}
    
.button_sales{
    font-size: 0.6rem;
    font-weight: 600;
    background-color: var(--sales-color);
    color: white;
    border-radius: 10px;
    border: solid thin var(--sales-color);
    padding: 0.2rem 0.5rem;
}