/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Utilities */

/* Colors 

--black-squeeze: #f3fafa;
--mako: #3c4149;
--picton-blue: #4cb2df;
--wisteria: #bd6bbf;
--earls-green: #cbb837;
--granny-smith: #90a0a5;
--lily: #c0acbf;
--loblolly: #c0cccf;
--primrose: #edde9d;



*/


/* General */
section{
    margin-top: 2rem;
    
}

/* Header */
.header_site{
    margin-left: 30px;
}

.logo{
    height: 80px;
}

.box_logo{
    display: inline-block;
    vertical-align: middle;
}

.header_title{
    display: inline-block;
    font-size: 1.5rem;
    vertical-align: middle;
}

/* Main */

.main_site{
    width: 1000px;
    margin: 20px auto;
}

#button_task{
    font-size: 1rem;
    background-color: #4cb2df;
    color: white;
    border-radius: 5px;
    border: solid thin #4cb2df ;
    padding: 0.65rem 1rem;
}

#button_section{
    font-size: 1rem;
    background-color: white;
    color:#c0cccf;
    border-radius: 5px;
    border: solid thin #c0cccf ;
    padding: 0.65rem 1rem;
}

.task{
    margin-top: 1rem;
}

.done_box{
    margin-right: 0.3rem;
    font-size: 0.50rem;
    color: rgb(23, 231, 23);
    border: solid thin;
    border-radius: 50% 50%;
    display: inline-block;
    padding: 0.2rem
}

.undone_box{
    margin-right: 0.3rem;
    font-size: 0.50rem;
    color: red;
    border: solid thin;
    border-radius: 50% 50%;
    display: inline-block;
    padding: 0.2rem
}

.button_editorial{
    font-size: 0.8rem;
    background-color: #4cb2df;
    color: white;
    border-radius: 10px;
    border: solid thin #4cb2df;
    padding: 0.2rem 0.5rem;
}

.button_goals{

    font-size: 0.8rem;
    background-color: #bd6bbf;;
    color: white;
    border-radius: 10px;
    border: solid thin #bd6bbf;
    padding: 0.2rem 0.5rem;
}

.button_recruiting{

    font-size: 0.8rem;
    background-color: #64c0a9;
    color: white;
    border-radius: 10px;
    border: solid thin #64c0a9;
    padding: 0.2rem 0.5rem;
}

.button_mobile{

    font-size: 0.8rem;
    background-color: #f29e33;
    color: white;
    border-radius: 10px;
    border: solid thin #f29e33;
    padding: 0.2rem 0.5rem;
}

.button_website{

    font-size: 0.8rem;
    background-color: #d863a1;
    color: white;
    border-radius: 10px;
    border: solid thin #d863a1;
    padding: 0.2rem 0.5rem;
}
    
.button_sales{

    font-size: 0.8rem;
    background-color: #b0c926;
    color: white;
    border-radius: 10px;
    border: solid thin #b0c926;
    padding: 0.2rem 0.5rem;
}